.footer {
  background-color: white;
  border-top: 1px solid #e5e7eb;
  height: 64px;
  display: flex;
  padding: 0 24px; 
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%; /* ← se asegura de ocupar todo el ancho */
}
.copyright {
  font-size: 0.875rem;
  color: #6b7280;
}

.footer-links {
  display: flex;
  gap: 16px;
}

.footer-link {
  font-size: 0.875rem;
  color: #6b7280;
  text-decoration: none;
}

.footer-link:hover {
  color: #2563eb;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center; 
  }
}
