.main-content {
  display: block;
  min-height: 100vh;
  /* flex: 1; */
  background-color: #f9fafb;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 24px;
  text-align: center;
}

.footer-container {
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
  margin-left: 25px;
}
